<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <input type="password" class="form-control" (keyup)="changePassword($event)" />
        <password-strength-meter [password]="password" strengthChange=strength ></password-strength-meter>
      </div>
      <br/>
      <img [src]="avatar" alt="your image" (click)="openNewDialog($event)" width="200" style="border-radius: 50%; box-shadow: 0 0 3px gray;" />
    </div>
  </div>
</div>